@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary-blue: #0862ee;
  --color-secondary-blue: #325488;
  --color-primary-gray: #72798c;
  --color-primary-green: #A7E9BE;
}

body{
  color: #202020;
}